@page "/pessoas/edit/{Id:int}"
@using LearnCrudBlazor.Data
@using LearnCrudBlazor.Model
@inject IDbContextFactory<AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<h3>Edit Pessoa</h3>

@if (Pessoa is null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="@Pessoa" OnValidSubmit="@UpdatePessoa" FormName="edit-pessoa">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputNumber @bind-Value="Pessoa.Id" type="hidden" />

        <div class="mb-3">
            <label class="form-label">Nome</label>
            <InputText class="form-control" @bind-Value="Pessoa.Nome" />
        </div>

        <div class="mb-3">
            <label class="form-label">Sobrenome</label>
            <InputText class="form-control" @bind-Value="Pessoa.Sobrenome" />
        </div>

        <div class="mb-3">
            <label class="form-label">Idade</label>
            <InputNumber class="form-control" @bind-Value="Pessoa.Idade" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-secondary ms-2" href="/pessoas">Back to List</a>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Pessoa? Pessoa { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Pessoa ??= await context.Pessoas.FindAsync(Id);
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePessoa()
    {
        if (Pessoa is null)
            return;

        using var context = DbFactory.CreateDbContext();
        context.Pessoas.Update(Pessoa);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/pessoas");
    }
}

